@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Category>
@{
    ViewData["Title"] = "Category View";
}
<div class="container">
    <div class="row">
        <div class="col-auto">
            <partial name="_Notification" />
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <h2> Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Category" asp-action="AddCategory"> <i class="fa-solid fa-square-plus mr-1"></i> &nbsp; Add Category </a>
        </div>

        <table class="table table-bordered table-striped mt-2">
            <thead class="text-white">
                <tr>
                    <th> Category Name </th>
                    <th> Display Order </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td> @category.Name </td>
                        <td> @category.DisplayOrder </td>
                        <td>
                            <a class="btn btn-primary" asp-action="EditCategory" asp-controller="Category" asp-route-Id="@category.Id"> <i class="fa-solid fa-pen-to-square"></i> &nbsp; Edit </a> &nbsp; &nbsp;
                            <a class="btn btn-danger" asp-action="DeleteCategory" asp-controller="Category" asp-route-Id="@category.Id"> <i class="fa-solid fa-pen-to-square"></i> &nbsp; Delete </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>