@model Product

<h2> Edit Category</h2>
<form method="post" class="container border px-5 py-3">
    <div class="row">
        <div class="col-sm-7">
            <div asp-validation-summary="ModelOnly"></div>
        </div>
    </div>
    <div class="mt-1">
        <div class="form-floating">
            <input asp-for="Title" disabled="disabled" class="form-control" />
            <label class="text-dark" asp-for="Title"></label>
        </div>
    </div>
    <div class="mt-1">
        <div class="form-floating">
            <input asp-for="Author" disabled="disabled" class="form-control" />
            <label class="text-dark" asp-for="Author"></label>
        </div>
    </div>
    <div class="mt-1">
        <div class="form-floating">
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" disabled class="form-select">
                <option value="0"> - Select Category - </option>
            </select>
            <label class="text-dark" asp-for="CategoryId"></label>
        </div>
    </div>
    <div class="mt-1">
        <div class="form-floating">
            <input asp-for="UnitPrice" disabled="disabled" class="form-control" />
            <label class="text-dark" asp-for="UnitPrice"></label>
        </div>
    </div>
    <div class="mt-1">
        <div class="form-floating">
            <input asp-for="Price50" disabled="disabled" class="form-control" />
            <label class="text-dark" asp-for="Price50"></label>
        </div>
    </div>
    <div class="mt-1">
        <div class="form-floating">
            <input asp-for="Price100" disabled="disabled" class="form-control" />
            <label class="text-dark" asp-for="Price100"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 mt-3">
            <button type="submit" class="btn btn-primary me-2"> <i class="fa-regular fa-floppy-disk"></i> &nbsp; Delete </button>
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Product"> <i class="fa-solid fa-xmark"></i> &nbsp; Cancel </a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}